<div class="moduleHeader">
    <div class="exitButton">
        <p class="exit" routerLink="/learn">X</p>
    </div>
    <div class="padding"></div>
    <div class="progressBarContainer">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [ngStyle]='{ width : currentProgressString }' aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="padding"></div>
    <div class="score">
        <a>SCORE: {{currentScore}}</a>
    </div>
    <div class="padding"></div>
    <div class="timer">
        <a>{{ getTime() | dateTime }}</a>
    </div>
</div>