.moduleHeader {
    border-bottom: 3px solid;
    border-color: #d3d3d3;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.moduleHeader div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exitButton {
    flex: 1;
    cursor: pointer;
}

.progressBar {
    flex: 5;
}

.timer {
    flex: 1;
}