<div class="modulePage" *ngIf="ready">    
    <div class="headerWrapper">
        <app-test-header [running]="running" [currentProgress]="currentProgress" [currentScore]="correctAnswers" (time)="getTime($event)"></app-test-header>
    </div>
    <div class="moduleWrapper">
        <div class="padding"></div>
        <div class="contentContainer">
            <app-item [question]="questions[currentNumber]" [currentAnswer]="currentAnswer" (buttonClicked)="choiceClicked($event)" *ngIf="!finished"></app-item>    
            <app-score-screen *ngIf="finished" [correctAnswers]="correctAnswers" [total]="2*items.length" [time]="time" [englishName]="englishName"></app-score-screen>
        </div>
        <div class="padding"></div>
    </div>
    <div class="footerWrapper">
        <app-module-footer
        style="display: block"
        [buttonText]="footerButton" 
        [messageText]="footerMessage" 
        [status]="footerStatus" 
        [currentAnswer]="currentAnswer"
        (buttonClicked)="footerClicked($event)"></app-module-footer>
    </div>
</div>