button {
    font-size: 2.5rem;
    color: #4B4B4B;

    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: all 0.1s;
    min-width: 100%;

    border-radius: 25px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 7px 0 #e5e5e5;

    width: 100%;
}

button:hover {
    transition: 0.2s;
    background-color: #ddf4ff;
    border-color: #1CB0F6;
    box-shadow: 0 7px 0 #1CB0F6;
}

button:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 0.1s;
}

button:disabled {
    pointer-events: none;
}

.selected {
    background-color: rgba(28, 176, 246, 0.2);
    border: 2px solid #1480b1;
    box-shadow: 0 7px 0 #1CB0F6;
}

.font-size-1 {
    font-size: 1rem;
}

.font-size-1-25 {
    font-size: 1.25rem;
}

.font-size-2 {
    font-size: 2rem;
}

.border-2 {
    border: 1px #e5e5e5 solid;
    box-shadow: 0 7px 0 #e5e5e5;
}