.moduleFooter {
    margin-top: 20px;
    border-top: 3px solid;
    border-color: #d3d3d3;
    
    display:flex;
    flex-direction: row;
    align-items: center;
}

.padding {
    flex: 1;
}

.button {
    flex: 2;
}

.message {
    flex: 2;
}