.moduleFooter {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid;
    border-color: #e5e5e5;
    
    display:flex;
    flex-direction: row;
    align-items: center;
}

p {
    font-size: 2.5rem;
}

.button {
    flex: 2;
}

.message {
    flex: 2;
}

img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.img-container {
    flex: 1;
}

.padding {
    flex: 1;
}

@media(max-width: 992px) {
    .inside {
        display: none;
    }
}