<div class="homePage">
    <app-header *ngIf="state!='conducting'&&state!='ongoing'" class="headerWrapper" [centerText]="centerText"></app-header>
    <div>
        <div class="ongoing" *ngIf="state=='conducting'||state=='ongoing'">
            <app-contest-conductor 
                [contestId]="contestId"
                [languageId]="'kr'"
                [moduleId]="'947f1764'"
                [contestants]="users"
                [timer]="30"
                *ngIf="state=='conducting'"></app-contest-conductor>
            <app-contest-contestant 
                [contestId]="contestId"
                *ngIf="state=='ongoing'"></app-contest-contestant>
        </div>

        <div class="bodyWrapper" *ngIf="state=='selectionScreen'">
            <div class="temp2">
                <div class="row mx-auto my-auto justify-content-center mt-n4">                    
                    <div class="card col-sm-12 col-md-5 col-lg-5 pt-4 card-block d-flex">
                        <div class="card-img align-items-center d-flex justify-content-center">
                            <img src="https://design.duolingo.com/885521149d32d1cf32c3.svg">
                        </div>
                        <p class="cardText">Create Lobby</p>
                        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
                            <div class="container">
                                <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                                    <ul class="navbar-nav w-100 justify-content-center">
                        
                                    <li class="nav-item dropdown px-3">              
                                        <div class="dropdown">
                                            <div class="dropdown-button">
                                                <app-button [buttonText]="shownLanguage" [classes]="'font-size-1'" (click)="toggleLanguageDropDown()"></app-button>
                                            </div>   
                                            <div class="dropdown-content" [ngStyle]="{'display':languageDisplay}">
                                              <a (click)="selectLanguage(language)" 
                                                  class="languageDropDownItem"
                                                  *ngFor="let language of languageList">{{language.englishName}}</a>
                                            </div>
                                        
                                        </div>
                                    </li>
                        
                                    <li class="nav-item dropdown px-3">              
                                        <div class="dropdown">
                                            <div class="dropdown-button">
                                                <app-button [buttonText]="shownModule" [classes]="'font-size-1'" (click)="toggleModuleDropDown()"></app-button>
                                            </div>
                                            <div class="dropdown-content" [ngStyle]="{'display':moduleDisplay}">
                                              <div *ngIf="moduleList">
                                                <a (click)="selectModule(module)" *ngFor="let module of moduleList">{{module.displayName}}</a>
                                              </div>
                                              <div *ngIf="moduleList.length==0">
                                                <a>-----</a>
                                              </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown px-3">              
                                    <div class="dropdown">
                                        <div class="dropdown-button">
                                        <app-button [buttonText]="'Create Lobby'" [classes]="'font-size-1'" [disabled]="createLobbyDisabled" (click)="createLobby()"></app-button>
                                        </div>
                                    </div>
                                    </li>
                        
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>            
                    
                    <div class="card col-sm-12 col-md-5 col-lg-5 pt-4 card-block d-flex">
                        <div class="card-img align-items-center d-flex justify-content-center">
                            <img src="https://design.duolingo.com/9a6ea4292d92aebb9c5a.svg">
                        </div>
                        <p class="cardText">Join Lobby</p>
                        <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
                            <div class="container">
                                <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                                    <ul class="navbar-nav w-100 justify-content-center">
                                        <li>
                                            <form>
                                                <input type="email" id="form2Example11" class="form-control"
                                                placeholder="Contest Id" [(ngModel)]="inputContestId" name="inputContestId"/>
                                            </form>
                                        </li>
                                        <li class="nav-item dropdown px-3">              
                                            <div class="dropdown">
                                                <div class="dropdown-button">
                                                <app-button [buttonText]="'Join Lobby'" [classes]="'font-size-1'" (click)="joinLobby()"></app-button>
                                                </div>
                                        </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>                        
                        <div class="errorMessage" *ngIf="errorMessage">        
                            <p>{{errorMessage}}</p>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>

        <div class="bodyWrapper" *ngIf="state=='lobbyConductor'||state=='standby'">
            <div class="padding"></div>
            <div class="lobbyWrapper">
                <div class="lobbyInfo">
                    <img class="lobbyImg" src="https://design.duolingo.com/266788168c5f135b35e3.svg">
                    <p>Share this ID to play with your friends!</p>
                    <p>{{contestId}}</p>
                    <app-button *ngIf="state=='lobbyConductor'" [buttonText]="'Start Contest'" [classes]="'font-size-1-25'" (click)="startGameAsConductor()"></app-button>
                </div>
                <div class="userInfo">
                    <p style="font-size: 2rem">Users:</p>
                    <p *ngFor="let user of users">{{user}}</p>
                </div>
            </div>
            <div class="padding"></div>
        </div>

    </div>
</div>