.languageWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.padding {
    flex: 1
}

.temp2 {
    flex: 5
}

img {
    height: 150px;
    width: 200px;
    border: 2px solid;
    border-radius: 10px;
}

.card {
    margin: 25px;
    border: 0px;
}

.card:hover{
    cursor: pointer;
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}