<div class="conductorWrapper" *ngIf="ready">

    <div class="headerWrapper">
        <app-contest-header [currentTimer]="countdownTimer" [totalTimer]="totalTimer" [currentItem]="currentItem+1" [totalItems]="totalItems" [getReady]="getReady"></app-contest-header>
    </div>

    <div class="moduleWrapper">
        <div class="padding"></div>
        <div class="contentContainer" *ngIf="!getReady&&!showingRankings&&currentQuestion">
            <app-item [question]="currentQuestion" 
            *ngIf="!finished" 
            (buttonClicked)="choiceClicked($event)"
            [currentAnswer]="currentAnswer"
            [englishName]="'native'"></app-item>    
        </div>
        <div class="contentContainer" *ngIf="getReady">
            <p>Get Ready!</p>
        </div>
        <div class="contentContainer w-100" *ngIf="showingRankings">
            <app-contest-leaderboard [answers]="contestantAnswers" [itemRankings]="itemRankings" [rankings]="rankings" [showingFinalRankings]="showingFinalRankings" *ngIf="!showingFinalRankings"></app-contest-leaderboard>
            <app-contest-leaderboard [rankings]="rankings" [showingFinalRankings]="showingFinalRankings" *ngIf="showingFinalRankings"></app-contest-leaderboard>
        </div>   
        <div class="padding"></div>
    </div>

    <div class="footerWrapper" [ngStyle]="{'background-color': '#' + bgColor}">
        <div class="padding"></div>
        <div class="message">
            <p>{{footerMessage}}</p>
        </div>
        <div class="padding"></div>
        <div class="button">
            <app-button *ngIf="!showingRankings&&!getReady" [buttonText]="buttonText" [classes]="'border-2'" [disabled]="buttonDisabled" (clicked)="submitClicked()" [classes]="'font-size-1-25'"></app-button>
            <app-button *ngIf="showingFinalRankings" [buttonText]="buttonText" [classes]="'border-2'" [classes]="'font-size-1-25'" routerLink="/learn"></app-button>
        </div>
        <div class="padding"></div>
    </div>

</div>