.contestHeader {
    border-bottom: 3px solid;
    border-color: #d3d3d3;
    min-height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exitButton {
    flex: 1;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.itemInformation {
    flex: 1;
}

.progressBar {
    flex: 5;
}

.padding {
    flex: 1;
}

.exit {
    font-family: museo300;
    font-size: 2rem;
    margin: 0px;
}

.progressBarContainer {
    flex: 5;
}

.progress {
    border-radius: 10px;
}

.progress-bar {    
    background-color: #1CB0F6;
}

.yellow {
    background-color: #FFC800;
}