.headerwrap {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

app-timer {
    flex: 1;
}

app-progress-bar {
    flex: 5;
}

.exit {
    flex: 1;
    margin: 5px;
}

.score {
    flex: 1;
    margin: 5px;
}