<div class="modulePage">
    <div *ngIf="ready">
        <div *ngIf="moduleType=='alphabet'">
            <app-test-alphabet [items]="moduleItems"></app-test-alphabet>
        </div>
    </div>
</div>
<!--
<div class="headerwrap" *ngIf="ready">
    <span class="exit">X</span>
    <app-progress-bar></app-progress-bar>
    <span class="score">{{currentScore}}/{{totalItems}}</span>
    <app-timer [running]="running" (time)="getTime($event)"></app-timer>
</div>

<div *ngIf="ready">
    <div *ngIf="moduleType=='alphabet'">
        <app-test-alphabet 
            [items]="moduleItems" 
            [time]="time" 
            (runState)="changeRunState($event)"
            (changeScore)="changeScore($event)">
        </app-test-alphabet>
    </div>
</div>
-->