<div class="rankingWrapper">
    <div class="currentRanking" *ngIf="!showingFinalRankings">
        <p>Current Ranking</p>
          <table class="table">
            <thead>
              <tr>
                <th style="width: 33%" scope="col">Rank</th>
                <th style="width: 33%" scope="col">Contestant</th>
                <th style="width: 3%" scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of rankings"  [ngClass]="{selfResults: result.userId == userId}">
                <td>{{result.rank}}</td>
                <td>{{result.userId}}</td>
                <td>{{result.score}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="itemRanking" *ngIf="!showingFinalRankings">
        <p>Item Analysis</p>
        <table class="table">
            <thead>
              <tr>
                <th style="width: 33%" scope="col">Contestant</th>
                <th style="width: 33%" scope="col">Score</th>
                <th style="width: 33%" scope="col">Answer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of itemRankings"  [ngClass]="{selfResults: result.userId == userId}">
                <td>{{result.userId}}</td>
                <td>{{result.score}}</td>
                <td>{{answers[result.userId]}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="finalRanking" *ngIf="showingFinalRankings">
      <p>Final Ranking</p>
        <table class="table">
          <thead>
            <tr>
              <th style="width: 33%" scope="col">Rank</th>
              <th style="width: 33%" scope="col">Contestant</th>
              <th style="width: 3%" scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of rankings"  [ngClass]="{selfResults: result.userId == userId}">
              <td>{{result.rank}}</td>
              <td>{{result.userId}}</td>
              <td>{{result.score}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>