<!-- TEMP TEMPLATE -->
<!-- SOURCE: https://mdbootstrap.com/docs/standard/extended/login/-->

<!--
<section *ngIf="!createNew" class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card-body p-md-5 mx-md-4">  
        <form>  
          <div class="form-outline mb-4">
            <input type="email" id="form2Example11" class="form-control"
              placeholder="Username" [(ngModel)]="inputUsername" name="inputUsername"/>
          </div>

          <div class="form-outline mb-4">
            <input type="password" id="form2Example22" class="form-control" 
              placeholder="password" [(ngModel)]="inputPassword" name="inputPassword"/>
          </div>

          <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-primary btn-block fa-lg mb-3" 
            type="button" (click)="login()">Login</button>
          </div>

          <div class="d-flex align-items-center justify-content-center pb-4">
            <p class="mb-0 me-2">Don't have an account?</p>
            <button type="button" class="btn btn-outline-danger" (click)="switchToCreateNew()">Create new</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
-->


<section *ngIf="!createNew" class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-5 col-lg-5 col-sm-12">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12 col-sm-12">
              <div class="card-body p-md-5 mx-md-4">  
                <form>  
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Username" [(ngModel)]="inputUsername" name="inputUsername"/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" 
                      placeholder="password" [(ngModel)]="inputPassword" name="inputPassword"/>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg mb-3" 
                    type="button" (click)="login()">Login</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger" (click)="switchToCreateNew()">Create new</button>
                  </div>

                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="createNew" class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-7">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <form>  
                  <p> details </p>
                  <div>
                    <input type="text"  class="form-control" 
                      placeholder="Username" [(ngModel)]="inputUsername" name="newUsername"/>
                  </div>
                  <div>
                    <input type="password" class="form-control" 
                      placeholder="password" [(ngModel)]="inputPassword" name="newPassword"/>
                  </div>
                  <div>
                    <input type="email" class="form-control" 
                      placeholder="Email" [(ngModel)]="inputEmail" name="newEmail"/>
                  </div>
                  <div>
                    <input type="text" class="form-control" 
                      placeholder="First name" [(ngModel)]="inputFirstName" name="newFirstName"/>
                  </div>
                  <div>
                    <input type="text" class="form-control" 
                      placeholder="Last name" [(ngModel)]="inputLastName" name="newLastName"/>
                  </div>
              
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
                    type="button" (click)="createAccount()">Create account</button>
                  </div>
                  <div *ngIf="errorMessage">
                    <p>{{errorMessage}}</p>
                  </div>
              
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Have an account?</p>
                    <button type="button" class="btn btn-outline-danger" (click)="switchToLogIn()">Log in instead</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="createNew">
  <div>
    <p> details </p>
    <div>
      <input type="text"  class="form-control" 
        placeholder="Username" [(ngModel)]="inputUsername" name="newUsername"/>
    </div>
    <div>
      <input type="password" class="form-control" 
        placeholder="password" [(ngModel)]="inputPassword" name="newPassword"/>
    </div>
    <div>
      <input type="email" class="form-control" 
        placeholder="Email" [(ngModel)]="inputEmail" name="newEmail"/>
    </div>
    <div>
      <input type="text" class="form-control" 
        placeholder="First name" [(ngModel)]="inputFirstName" name="newFirstName"/>
    </div>
    <div>
      <input type="text" class="form-control" 
        placeholder="Last name" [(ngModel)]="inputLastName" name="newLastName"/>
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
      type="button" (click)="createAccount()">Create account</button>
    </div>
    <div *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>

    <div class="d-flex align-items-center justify-content-center pb-4">
      <p class="mb-0 me-2">Have an account?</p>
      <button type="button" class="btn btn-outline-danger" (click)="switchToLogIn()">Log in instead</button>
    </div>
  </div>
</section>