.gradient-form {
    font-family: museo500;
}

@media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
}

h4 {
    font-size: 2rem;
    font-family: museo900;
}

.content {
    font-size: 1.25rem;
}

.card {
    background-color: #89E219;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMessage {
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

/* Buttons ! Not yet using button component */

.btn {
    border: 2px;
    border-radius: 1rem;

    color: #4B4B4B;
    background-color: #eee;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    transition: all 0.1s;
}

.btn:hover {
    transition:0.2;    
    background-color: #ddf4ff;
    border-color: #1CB0F6;
}

.btn:active {
    border-bottom: 2px solid #1480b1;
}