<!-- TEMPLATE SOURCE: https://mdbootstrap.com/docs/standard/extended/login/-->

<!-- Original iteration
<section *ngIf="!createNew" class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10 col-lg-10 col-sm-12">
        <div class="card rounded-3 text-black">
          <div class="row g-20">
            
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">duolingium</h4>
                <p class="small mb-0">The free, fun, and effective way to learn a language!</p>
                <img class="card-img-top" style="width: 185px;" src="https://design.duolingo.com/162d3bf565c53c8657c9.svg" alt="logo"> 
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">  
                <form>  
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Username" [(ngModel)]="inputUsername" name="inputUsername"/>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" 
                      placeholder="password" [(ngModel)]="inputPassword" name="inputPassword"/>
                  </div>

                  <div *ngIf="errorMessage" class="errorMessage">
                    <p>{{errorMessage}}</p>
                  </div>

                  <div class="text-center pt-1 mb-4 pb-20">
                    <button class="btn fa-lg mb-3" type="button" (click)="login()">Login</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4 align-items-flex-end">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn" (click)="switchToCreateNew()">Create new</button>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">

            <div class="col-lg-6 d-flex align-items-center justify-content-center">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4 d-flex flex-column align-items-center justify-content-center text-center">
                <h4 class="mb-4">duolingium</h4>
                <p class="small mb-0 content">The free, fun, and effective way to learn a language!</p>
                <img class="card-img-top" style="width: 185px;" src="https://design.duolingo.com/162d3bf565c53c8657c9.svg" alt="logo"> 
              </div>
            </div>

            <div class="col-lg-6" *ngIf="!createNew">
              <div class="card-body p-md-5 mx-md-4">
                <form>
                  <div class="form-outline mb-3">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Username" [(ngModel)]="inputUsername" name="inputUsername"/>
                  </div>
                  <div class="form-outline mb-3">
                    <input type="password" id="form2Example22" class="form-control" 
                      placeholder="Password" [(ngModel)]="inputPassword" name="inputPassword"/>
                  </div>

                  <div *ngIf="errorMessage" class="errorMessage">
                    <p>{{errorMessage}}</p>
                  </div>

                  <div class="text-center pt-1 mb-4 pb-20">
                    <button class="btn fa-lg mb-3" type="button" (click)="login()">Login</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn" (click)="switchToCreateNew()">Create new</button>
                  </div>
                </form> 
              </div>
            </div>

            <div class="col-lg-6" *ngIf="createNew">
              <div class="card-body p-md-5 mx-md-4">
                <form>
                  <div class="form-outline mb-1">
                    <input type="text"  class="form-control" 
                      placeholder="Username" [(ngModel)]="inputUsername" name="newUsername"/>
                  </div>
                  <div class="form-outline mb-1">
                    <input type="password" class="form-control" 
                      placeholder="Password" [(ngModel)]="inputPassword" name="newPassword"/>
                  </div>
                  <div class="form-outline mb-1">
                    <input type="email" class="form-control" 
                      placeholder="Email" [(ngModel)]="inputEmail" name="newEmail"/>
                  </div>
                  <div class="form-outline mb-1">
                    <input type="text" class="form-control" 
                      placeholder="First name" [(ngModel)]="inputFirstName" name="newFirstName"/>
                  </div>
                  <div class="form-outline mb-3">
                    <input type="text" class="form-control" 
                      placeholder="Last name" [(ngModel)]="inputLastName" name="newLastName"/>
                  </div>

                  <div *ngIf="errorMessage" class="errorMessage">
                    <p>{{errorMessage}}</p>
                  </div>

                  <div class="text-center pt-1 mb-4 pb-20">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
                    type="button" (click)="createAccount()">Create account</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Have an account?</p>
                    <button type="button" class="btn" (click)="switchToLogIn()">Log in instead</button>
                  </div>
                </form> 
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                </div>

                <form>
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control"
                      placeholder="Phone number or email address" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Log
                      in</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger">Create new</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<!--
<section *ngIf="createNew" class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-7">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-12">
              <div class="card-body p-md-5 mx-md-4">
                <form>  
                  <div>
                    <input type="text"  class="form-control" 
                      placeholder="Username" [(ngModel)]="inputUsername" name="newUsername"/>
                  </div>
                  <div>
                    <input type="password" class="form-control" 
                      placeholder="password" [(ngModel)]="inputPassword" name="newPassword"/>
                  </div>
                  <div>
                    <input type="email" class="form-control" 
                      placeholder="Email" [(ngModel)]="inputEmail" name="newEmail"/>
                  </div>
                  <div>
                    <input type="text" class="form-control" 
                      placeholder="First name" [(ngModel)]="inputFirstName" name="newFirstName"/>
                  </div>
                  <div>
                    <input type="text" class="form-control" 
                      placeholder="Last name" [(ngModel)]="inputLastName" name="newLastName"/>
                  </div>
              
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn mb-3" 
                    type="button" (click)="createAccount()">Create account</button>
                  </div>
                  <div *ngIf="errorMessage" class="errorMessage">
                    <p>{{errorMessage}}</p>
                  </div>
              
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Have an account?</p>
                    <button type="button" class="btn" (click)="switchToLogIn()">Log in instead</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="createNew">
  <div>
    <p> details </p>
    <div>
      <input type="text"  class="form-control" 
        placeholder="Username" [(ngModel)]="inputUsername" name="newUsername"/>
    </div>
    <div>
      <input type="password" class="form-control" 
        placeholder="password" [(ngModel)]="inputPassword" name="newPassword"/>
    </div>
    <div>
      <input type="email" class="form-control" 
        placeholder="Email" [(ngModel)]="inputEmail" name="newEmail"/>
    </div>
    <div>
      <input type="text" class="form-control" 
        placeholder="First name" [(ngModel)]="inputFirstName" name="newFirstName"/>
    </div>
    <div>
      <input type="text" class="form-control" 
        placeholder="Last name" [(ngModel)]="inputLastName" name="newLastName"/>
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" 
      type="button" (click)="createAccount()">Create account</button>
    </div>
    <div *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>

    <div class="d-flex align-items-center justify-content-center pb-4">
      <p class="mb-0 me-2">Have an account?</p>
      <button type="button" class="btn btn-outline-danger" (click)="switchToLogIn()">Log in instead</button>
    </div>
  </div>
</section>
-->