.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}

.body {
    height: 100vh
}

.card {
    background-color: #89E219;
    min-height: 400px;
    border-radius: 80px;
}


.btn {
    border: 2px;
    border-radius: 1rem;

    color: #4B4B4B;
    background-color: #eee;
    border-radius: 10px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    transition: all 0.1s;
}
.btn:hover {
    transition:0.2;    
    background-color: #ddf4ff;
    border-color: #1CB0F6;
}
.btn:active {
    border-bottom: 2px solid #1480b1;
}

form div {
    margin-bottom: 10px;
}

.errorMessage {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}