<div class="modulePage" *ngIf="ready">
    <div class="headerWrapper">
        <app-module-header [currentProgress]="currentProgress"></app-module-header>
    </div>
    <div class="moduleWrapper">
        <app-item [question]="questions[currentNumber]" 
                [currentAnswer]="currentAnswer" 
                [englishName]="englishName"
                (buttonClicked)="choiceClicked($event)"></app-item>    
        <div class="padding"></div>
    </div>
    <div class="footerWrapper">
        <app-module-footer 
            [buttonText]="footerButton" 
            [messageText]="footerMessage" 
            [status]="footerStatus" 
            [currentAnswer]="currentAnswer"
            (buttonClicked)="footerClicked($event)"></app-module-footer>
    </div>
</div>