<app-header [centerText]="'Test history'"></app-header>

<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <div class="container">
      <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
          <ul class="navbar-nav w-100 justify-content-center">

            <li class="nav-item dropdown px-3">              
              <div class="dropdown">
                <div class="dropdown-button">
                  <app-button [buttonText]="languageDisplayButton" [classes]="'font-size-1-25'" (click)="toggleLanguageDropDown()"></app-button>
                </div>
                <!-- <button class="dropbtn" (click)="toggleLanguageDropDown()">Dropdown</button> -->                
                <div class="dropdown-content" [ngStyle]="{'display':languageDisplay}">
                  <a (click)="loadLanguage(language.languageId)" 
                      class="languageDropDownItem"
                      *ngFor="let language of languageList">{{language.englishName}}</a>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown px-3">              
              <div class="dropdown">
                <div class="dropdown-button">
                  <app-button [buttonText]="moduleDisplayButton" [classes]="'font-size-1-25'" (click)="toggleModuleDropDown()"></app-button>
                </div>
                <div class="dropdown-content" [ngStyle]="{'display':moduleDisplay}">
                  <div *ngIf="moduleList">
                    <a (click)="loadModule(module)" *ngFor="let module of moduleList">{{module.displayName}}</a>
                  </div>
                  <div *ngIf="moduleList.length==0">
                    <a>-----</a>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown px-3">              
              <div class="dropdown">
                <div class="dropdown-button">
                  <app-button [buttonText]="'Self'" [classes]="'font-size-1-25'" (click)="filterByUser()" [selected]="filterUserStatus"></app-button>
                  <!--[selected]="filterUserStatus"-->
                </div>
              </div>
            </li>

            <li class="nav-item dropdown px-3">              
              <div class="dropdown">
                <div class="dropdown-button">
                  <app-button [buttonText]="'Clear Filters'" [classes]="'font-size-1-25'" (click)="clearFilters()"></app-button>
                </div>
              </div>
            </li>

          </ul>
      </div>
  </div>
</nav>

<!-- Working table -->
<div class="tableWrapper">

  <div class="navWrapper">    
    <nav style="margin-bottom: 10px;" aria-label="Page navigation example">
      <p>Showing results {{(currentPage-1)*25+1}}-{{math.min((currentPage)*25, totalItems)}} of {{totalItems}}</p>
      <ul class="pagination flex-wrap ms-auto mx-4">
        <li class="page-item"><a class="page-link" (click)="loadPage(1)"><<</a></li>
        <li class="page-item"><a class="page-link" (click)="previousPage()"><</a></li>
        <li class="page-item" *ngIf="totalPages > 5 && currentPage > 2"><a class="page-link">...</a></li>
        <li class="page-item" 
            [ngClass]="{'active': currentPage == i}"
            *ngFor="let i of visiblePages"><a class="page-link" 
            (click)="loadPage(i)">{{i}}</a></li>
        <li class="page-item" *ngIf="totalPages > 5 && currentPage+1 < totalPages"><a class="page-link">...</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage()">></a></li>
        <li class="page-item"><a class="page-link" (click)="loadPage(totalPages)">>></a></li>
      </ul>
    </nav>
  </div>
  
  <table class="table">
      <thead>
        <tr>
          <th style="width: 17%" scope="col">Date Taken</th>
          <th style="width: 17%" scope="col">User</th>
          <th style="width: 17%" scope="col">Language</th>
          <th style="width: 17%" scope="col">Module</th>
          <th style="width: 17%" scope="col">Score</th>
          <th style="width: 17%" scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of tests">
          <td>{{test.date | date}}</td>
          <td>{{test.userId}}</td>
          <td><svg class="flag-icon flag-icon-{{test.languageId}}" style="height: 20px; border:1px solid;"></svg> {{test.englishName}}</td>
          <td>{{test.displayName}}</td>
          <td>{{test.correct}}/{{test.total}}</td>
          <td>{{test.time | dateTime}}</td>
        </tr>
      </tbody>
    </table>

    <div class="navWrapper">    
      <nav style="margin-bottom: 10px;" aria-label="Page navigation example">
        <p>Showing results {{(currentPage-1)*25+1}}-{{math.min((currentPage)*25, totalItems)}} of {{totalItems}}</p>
        <ul class="pagination flex-wrap ms-auto mx-4">
          <li class="page-item"><a class="page-link" (click)="loadPage(1)"><<</a></li>
          <li class="page-item"><a class="page-link" (click)="previousPage()"><</a></li>
          <li class="page-item" *ngIf="totalPages > 5 && currentPage > 2"><a class="page-link">...</a></li>
          <li class="page-item" 
              [ngClass]="{'active': currentPage == i}"
              *ngFor="let i of visiblePages"><a class="page-link" 
              (click)="loadPage(i)">{{i}}</a></li>
          <li class="page-item" *ngIf="totalPages > 5 && currentPage+1 < totalPages"><a class="page-link">...</a></li>
          <li class="page-item"><a class="page-link" (click)="nextPage()">></a></li>
          <li class="page-item"><a class="page-link" (click)="loadPage(totalPages)">>></a></li>
        </ul>
      </nav>
    </div>

</div>