<app-header></app-header>

<div class="module-container">
    <div class="module-card card row container mx-auto" *ngFor="let module of moduleInfo">
            <div class="row container mx-auto ">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <span>{{module.displayName}}</span>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button routerLink="/learn/{{module.moduleId}}"> STUDY </button>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button routerLink="/learn/{{module.moduleId}}"> LEARN </button>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button *ngIf="module.started && module.completed"> REVIEW (ok)</button>
                    <button *ngIf="module.started && !module.completed" disabled="true"> REVIEW (not ok)</button>
                    <button *ngIf="!module.started" disabled="true"> REVIEW (none)</button>
                </div>
            </div>
    </div>
</div>