<div class="homePage" *ngIf="ready">

    <app-header class="headerWrapper"></app-header>

    <div class="bodyWrapper">
        
        <div class="padding"></div>
        <div class="moduleWrapper">
            <div class="moduleContainer" *ngFor="let module of moduleInfo">
                <div class="row container mx-auto">
                    <div class="displayName col-sm-12 col-md-12 col-lg-4">
                        <p>{{module.displayName}}</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 ">
                        <app-button [buttonText]="'learn'" [classes]="'font-size-2'" routerLink="/learn/{{module.moduleId}}"></app-button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 ">
                        <app-button [buttonText]="'test'" [classes]="'font-size-2'" routerLink="/test/{{module.moduleId}}"></app-button>
                    </div>
                </div>
            </div>
        </div> 
    
        <div class="sidebarWrapper">
            <div class="workInProgress">
                <img src="https://d35aaqx5ub95lt.cloudfront.net/images/leagues/placeholder.svg">
                <h4>Check out our leaderboards!</h4>
                <p>Take a test to compete.</p>
            </div>
            <div class="workInProgress">
                <img src="https://design.duolingo.com/2c82efcd38d61a9bd45e.svg">
                <h4>Using an ad blocker?</h4>
                <p>Support free education with Duolingium Plus and we’ll remove ads for you.</p>                    
            </div>
        </div>
        <div class="padding"></div>
    </div>

</div>

<!--
    <div class="modulewrap">
        <div  *ngFor="let module of moduleInfo">
            <div class="row container mx-auto">
                <div class="col-sm-12 col-md-12 col-lg-2 d-flex align-items-center progress-circle p{{module.progress}}" [ngClass]="{'over50': module.progress>50}">
                    <svg class="flagwrap flag-icon flag-icon-{{languageId}} flag-icon-squared"></svg>
                    <div class="left-half-clipper">
                      <div class="first50-bar"></div>
                      <div class="value-bar"></div>
                    </div>
                  </div>
                <div class="displayName col-sm-12 col-md-12 col-lg-3">
                    <p>{{module.displayName}}</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 ">
                    <button routerLink="/learn/{{module.moduleId}}"> learn </button>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 ">
                    <button [ngClass]="{
                        'review-none': !module.started, 
                        'review-ready': module.progress >= 100, 
                        'review-not-ready': module.progress < 100}" 
                    routerLink="/test/{{module.moduleId}}"> test </button>
                </div>
            </div>
        </div>
    </div> 

-->